@charset "UTF-8";

.vp-player {
	font-size: 14px;
	color: #fff;
}

.vp-player * {
	font-size: inherit;
}

.vp-player h4 {
	font-size: 20px;
}

.vp-player header {
	min-width: auto !important;
	padding: 0 !important;
	box-shadow: none !important;
	background-image: none !important;
	text-align: left !important;
}

.vp-player input[type="text"] {
	border: 1px solid #181818 !important;
	border-bottom2: 1px solid #818181 !important;
	border2: 1px solid #818181 !important;
	cursor: text !important;
	background: #2e2e2e;
	color: #fff;
	font-family: NanumSquare, sans-serif;
}

.vp-player select {
	background: #2e2e2e;
	color: #fff;
	font-family: NanumSquare, sans-serif;
}

/* IE 콤보박스 화살표 스타일 */
.vp-player select::-ms-expand {
    background-color: inherit;
    border: 0;
    color: #aaa;
}

.vp-player label .check {
	
}

.vp-player label .name {
	font-size: 16px;
	width: auto;
}

.vp-player .subtitle {
	font-size: 18px;
}
