@charset "utf-8";

.vi-editor {

}

.vi-editor .vp-panel {
	height: 75px !important;
}

.vi-editor video {
	display: none !important;
}

.vi-editor .vp-video {
	display2: grid;
	background: #333333 !important;
}

.vi-editor .vp-video img[vp-name="image"] {
	display: inline-block !important;
	position: relative !important;
	
	width2: auto !important;
	height2: auto !important;
}

.vi-editor .vp-progress {
	display: none;
}

/* ----------------------------------------------------------------- */

.vi-editor .vp-icon-bar>div[vp-btn], .vi-editor .vp-icon-bar>div[vp-name] {
	display: none !important;
}

.vi-editor .vp-right>div[vp-name] {
	display: none !important;
}

/* ----------------------------------------------------------------- */
