
.vp-video-label {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	display: inline-block;

	position: absolute;

	width: 100%;
	height: 100%;

	top: 0;
	left: 0;

	overflow: hidden;

	-moz-transition: top .2s cubic-bezier(0.4,0.0,1,1), -moz-opacity .2s cubic-bezier(0.4,0.0,1,1), z-index .2s cubic-bezier(0.4,0.0,1,1);
	-webkit-transition: top .2s cubic-bezier(0.4,0.0,1,1), -webkit-opacity .2s cubic-bezier(0.4,0.0,1,1), z-index .2s cubic-bezier(0.4,0.0,1,1);
	-ms-transition: top .2s cubic-bezier(0.4,0.0,1,1), -ms-opacity .2s cubic-bezier(0.4,0.0,1,1), z-index .2s cubic-bezier(0.4,0.0,1,1);
	transition: top .2s cubic-bezier(0.4,0.0,1,1), opacity .2s cubic-bezier(0.4,0.0,1,1), z-index .2s cubic-bezier(0.4,0.0,1,1);

	font-family2: Roboto,Arial,Helvetica,sans-serif;

	z-index: 100;
	opacity: 1;

	background: #2e2e2e;
	border: solid #cacaca;
	border-width2: 1px 1px 1px 1px;
	border-width: 0;
	border-radius: 5px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

	padding: 10px;
}

.vp-video-label.vp-hide {
	z-index: -1;
	opacity: 0;
	top: -100px;
}

/* ----------------------------------------------------------------- */

.vp-video-label>div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
  
	flex-direction: column;

	width: 100%;
	height: 100%;

	position: relative;
}

/* ----------------------------------------------------------------- */

.vp-video-label header {
	-webkit-flex: 0 0 auto;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;

	height: 60px;
}

.vp-video-label section {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-flex: 1 1 auto;
	-moz-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	position: relative;
	overflow: hidden;
}

.vp-video-label nav {
	-webkit-flex: 0 0 auto;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;

	height: 60px;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	align-items: center;

	overflow-x: auto;
	overflow-y: hidden;
}

/* ----------------------------------------------------------------- */

.vp-video-label article {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex: 1 1 auto;
	-moz-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;

	align-items: center;

	position: relative;
	
	vertical-align: middle;
}

/* ----------------------------------------------------------------- */

.vp-video-label article>div {
	position: relative;
	overflow: hidden;
}

.vp-video-label article img {
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}

.vp-video-label article .vp-canvas {
	position: absolute;

	width: 100%;
	height: 100%;

	top: 0;
	left: 0;
}

.vp-video-label article .vp-canvas .vp-label-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	border: 1px solid #99CCFF;
	background-color: transparent;

	display: flex;

	align-items: center;

	position: absolute;

	color: white;

	text-align: center;

	-moz-transition: background-color .1s cubic-bezier(0.4,0.0,1,1);
	-webkit-transition: background-color .1s cubic-bezier(0.4,0.0,1,1);
	-ms-transition: background-color .1s cubic-bezier(0.4,0.0,1,1);
	transition: background-color .1s cubic-bezier(0.4,0.0,1,1);

}

.vp-video-label article .vp-canvas .vp-label-box:hover {
	background-color: rgba(202,229,255,0.1);
}

.vp-video-label article .vp-canvas .vp-label-box.vp-select {
	background-color: rgba(202,229,255,0.2);
}

/* ----------------------------------------------------------------- */

.vp-video-label article .vp-canvas .vp-label-box .vp-text-label {
	display: inline-block;
	width: 100%;
}

/* ----------------------------------------------------------------- */

.vp-video-label article .vp-canvas .vp-edit-point {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	border: 1px solid #99CCFF;
	background-color: rgba(202,229,255,0.1);

	opacity: 0.3;

	display: inline-block;

	position: absolute;

	width: 20px;
	height: 20px;

	margin-left: -10px;
	margin-top: -10px;
}

.vp-video-label article .vp-canvas .vp-edit-point.vp-ep-LT { left: 0; top: 0; }
.vp-video-label article .vp-canvas .vp-edit-point.vp-ep-CT { left: 50%; top: 0; }
.vp-video-label article .vp-canvas .vp-edit-point.vp-ep-RT { left: 100%; top: 0; }
.vp-video-label article .vp-canvas .vp-edit-point.vp-ep-LC { left: 0; top: 50%; }
.vp-video-label article .vp-canvas .vp-edit-point.vp-ep-RC { left: 100%; top: 50%; }
.vp-video-label article .vp-canvas .vp-edit-point.vp-ep-LB { left: 0; top: 100%; }
.vp-video-label article .vp-canvas .vp-edit-point.vp-ep-CB { left: 50%; top: 100%; }
.vp-video-label article .vp-canvas .vp-edit-point.vp-ep-RB { left: 100%; top: 100%; }

.vp-video-label article .vp-canvas .vp-edit-point.vp-ep-LT:hover,
.vp-video-label article .vp-canvas .vp-edit-point.vp-ep-CT:hover,
.vp-video-label article .vp-canvas .vp-edit-point.vp-ep-RT:hover,
.vp-video-label article .vp-canvas .vp-edit-point.vp-ep-LC:hover,
.vp-video-label article .vp-canvas .vp-edit-point.vp-ep-RC:hover,
.vp-video-label article .vp-canvas .vp-edit-point.vp-ep-LB:hover,
.vp-video-label article .vp-canvas .vp-edit-point.vp-ep-CB:hover,
.vp-video-label article .vp-canvas .vp-edit-point.vp-ep-RB:hover
{
	background-color: rgba(202,229,255,0.4);
}

/* ----------------------------------------------------------------- */

.vp-video-label aside {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-flex: 0 0 auto;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;

	padding: 0 10px;

	width: 30%;

	vertical-align: middle;
	text-align: left;
	
	position: relative;
}

/* ----------------------------------------------------------------- */

.vp-video-label nav>div {
	display: inline-block;
	margin: 0 5px;
}

.vp-video-label nav input[type="text"] {
	height: 30px;
	width: 200px;
	min-width: 80px;
}

.vp-video-label nav input[type="text"][disabled] {
	background: #181818;
}

/* ----------------------------------------------------------------- */

.vp-video-label nav select {
	height: 30px;
	width: 120px;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.vp-video-label nav select[disabled] {
	background: #181818;
}

/* ----------------------------------------------------------------- */

.vp-video-label input[type="button"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	border-radius: 4px;
	border2: 1px solid #c0c0c0;
	background-color: #4a90e2;
	border: 0;
	color: #fff;

	padding: 10px 5px;
	width: 60px;

	font-size: 14px;
	font-weight: normal;
	font-family2: Roboto,Arial,Helvetica,sans-serif;

	-moz-transition: background-color .1s cubic-bezier(0.4,0.0,1,1);
	-webkit-transition: background-color .1s cubic-bezier(0.4,0.0,1,1);
	-ms-transition: background-color .1s cubic-bezier(0.4,0.0,1,1);
	transition: background-color .1s cubic-bezier(0.4,0.0,1,1);

}

.vp-video-label input[type="button"]:hover {
	background-image: linear-gradient(to bottom, #009beb, #0061d3);
}

.vp-video-label input[type="button"]:active {
	background-image: linear-gradient(to bottom, #009beb, #0061d3);
}

/* ----------------------------------------------------------------- */

.vp-video-label aside input[type="text"] {
	height: 30px;
	width: 100%;
}

/* ----------------------------------------------------------------- */

.vp-video-label aside {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	
	flex-direction: column;
}

.vp-video-label .label-form {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	-webkit-flex: 1 1 auto;
	-moz-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	
	position: relative;
}

.vp-video-label .label-form>div {
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 0 0 5px 0;
}

.vp-video-label .label-form>div>div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	position2: absolute;
	
	width: 100%;
	height: 100%;
	overflow-y: auto;
	
	padding-right: 5px;
}

.vp-video-label .label-panel {
	-webkit-flex: 0 0 auto;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	
	height: 40px;
	
	text-align: center;
}

/* ----------------------------------------------------------------- */

.vp-video-label .label-form .group {
	margin-bottom: 20px;
}

.vp-video-label .label-form .group .title {
	font-size: 20px;
	color: #fff;
	margin-bottom: 20px;
}

.vp-video-label .label-form .group .title.etc:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 4px;
	height: 10px;
	background-color: #4a90e2;
	margin-right: 10px;
}

/* ----------------------------------------------------------------- */

.vp-video-label .chkbox label {
	white-space: nowrap;
}

.vp-video-label .label-list .title {
	font-size: 20px;
	color: #fff;
	margin-right: 20px;
}

.vp-video-label .label-list .title:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 4px;
	height: 10px;
	background-color: #4a90e2;
	margin-right: 10px;
}

/* ----------------------------------------------------------------- */

.vp-video-label .upload-info-input {
	font-size: 13px;
	color: #fff;
	padding: 10px;
	padding-right: 10px;
	border-bottom: 1px #818181 solid;
	background-color: transparent;
	width: 100%;
	box-sizing: border-box;
	outline: none;
}