
.vp-video-mask {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	display: inline-block;

	position: absolute;

	width: 100%;
	height: 100%;

	top: 0;
	left: 0;

	overflow: hidden;

	-moz-transition: top .2s cubic-bezier(0.4,0.0,1,1), -moz-opacity .2s cubic-bezier(0.4,0.0,1,1), z-index .2s cubic-bezier(0.4,0.0,1,1);
	-webkit-transition: top .2s cubic-bezier(0.4,0.0,1,1), -webkit-opacity .2s cubic-bezier(0.4,0.0,1,1), z-index .2s cubic-bezier(0.4,0.0,1,1);
	-ms-transition: top .2s cubic-bezier(0.4,0.0,1,1), -ms-opacity .2s cubic-bezier(0.4,0.0,1,1), z-index .2s cubic-bezier(0.4,0.0,1,1);
	transition: top .2s cubic-bezier(0.4,0.0,1,1), opacity .2s cubic-bezier(0.4,0.0,1,1), z-index .2s cubic-bezier(0.4,0.0,1,1);

	font-family2: Roboto,Arial,Helvetica,sans-serif;

	z-index: 100;
	opacity: 1;

	background: #2e2e2e;
	border: solid #cacaca;
	border-width2: 1px 1px 1px 1px;
	border-width: 0;
	border-radius: 5px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

	padding: 10px;
}

.vp-video-mask.vp-hide {
	z-index: -1;
	opacity: 0;
	top: -100px;
}

/* ----------------------------------------------------------------- */

.vp-video-mask>div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
  
	flex-direction: column;

	width: 100%;
	height: 100%;

	position: relative;
}

/* ----------------------------------------------------------------- */

.vp-video-mask header {
	-webkit-flex: 0 0 auto;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;

	height: 60px;
}

.vp-video-mask section {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-flex: 1 1 auto;
	-moz-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	position: relative;
	overflow: hidden;
}

/* ----------------------------------------------------------------- */

.vp-video-mask article {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex: 1 1 auto;
	-moz-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;

	align-items: center;

	position: relative;
	
	vertical-align: middle;
}

.vp-video-mask nav {
	-webkit-flex: 0 0 auto;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;

	height: 60px;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	align-items: center;

	overflow-x: auto;
	overflow-y: hidden;
}

/* ----------------------------------------------------------------- */

.vp-video-mask article>div {
	position: relative;
	overflow: hidden;
}

.vp-video-mask article img {
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}

/* ----------------------------------------------------------------- */

.vp-video-mask article .vp-canvas {
	outline: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;	

	position: absolute;

	width: 100%;
	height: 100%;

	top: 0;
	left: 0;
}

/* ----------------------------------------------------------------- */

.vp-video-mask article .vp-canvas .vp-mask-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	border: 1px solid rgba(0,0,0,1);
	background-color: rgba(0,0,0,0.7);

	display: flex;

	align-items: center;

	position: absolute;

	color: white;

	text-align: center;

	-moz-transition: background-color .1s cubic-bezier(0.4,0.0,1,1);
	-webkit-transition: background-color .1s cubic-bezier(0.4,0.0,1,1);
	-ms-transition: background-color .1s cubic-bezier(0.4,0.0,1,1);
	transition: background-color .1s cubic-bezier(0.4,0.0,1,1);

}

.vp-video-mask article .vp-canvas .vp-mask-box:hover {
	background-color: rgba(0,0,0,0.5);
}

.vp-video-mask article .vp-canvas .vp-mask-box.vp-select {
	background-color: rgba(0,0,0,0.3)
}

/* ----------------------------------------------------------------- */

.vp-video-mask article .vp-canvas.vp-invert {
	background: rgba(0,0,0,0.5);
}

/* ----------------------------------------------------------------- */

.vp-video-mask article .vp-canvas.vp-invert .vp-mask-box {
	background-color: rgba(255,255,255,0.2);
}

.vp-video-mask article .vp-canvas.vp-invert .vp-mask-box:hover {
	background-color: rgba(255,255,255,0.25);
}

.vp-video-mask article .vp-canvas.vp-invert .vp-mask-box.vp-select {
	background-color: rgba(255,255,255,0.3);
}

/* ----------------------------------------------------------------- */

.vp-video-mask article .vp-canvas .vp-edit-point {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	border: 1px solid #99CCFF;
	background-color: rgba(202,229,255,0.1);

	opacity: 0.3;

	display: inline-block;

	position: absolute;

	width: 20px;
	height: 20px;

	margin-left: -10px;
	margin-top: -10px;
}

.vp-video-mask article .vp-canvas .vp-edit-point.vp-ep-LT { left: 0; top: 0; }
.vp-video-mask article .vp-canvas .vp-edit-point.vp-ep-CT { left: 50%; top: 0; }
.vp-video-mask article .vp-canvas .vp-edit-point.vp-ep-RT { left: 100%; top: 0; }
.vp-video-mask article .vp-canvas .vp-edit-point.vp-ep-LC { left: 0; top: 50%; }
.vp-video-mask article .vp-canvas .vp-edit-point.vp-ep-RC { left: 100%; top: 50%; }
.vp-video-mask article .vp-canvas .vp-edit-point.vp-ep-LB { left: 0; top: 100%; }
.vp-video-mask article .vp-canvas .vp-edit-point.vp-ep-CB { left: 50%; top: 100%; }
.vp-video-mask article .vp-canvas .vp-edit-point.vp-ep-RB { left: 100%; top: 100%; }

.vp-video-mask article .vp-canvas .vp-edit-point.vp-ep-LT:hover,
.vp-video-mask article .vp-canvas .vp-edit-point.vp-ep-CT:hover,
.vp-video-mask article .vp-canvas .vp-edit-point.vp-ep-RT:hover,
.vp-video-mask article .vp-canvas .vp-edit-point.vp-ep-LC:hover,
.vp-video-mask article .vp-canvas .vp-edit-point.vp-ep-RC:hover,
.vp-video-mask article .vp-canvas .vp-edit-point.vp-ep-LB:hover,
.vp-video-mask article .vp-canvas .vp-edit-point.vp-ep-CB:hover,
.vp-video-mask article .vp-canvas .vp-edit-point.vp-ep-RB:hover
{
	background-color: rgba(202,229,255,0.4);
}

/* ----------------------------------------------------------------- */

.vp-video-mask aside {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-flex: 0 0 auto;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;

	padding: 10px;

	width: 25%;

	vertical-align: middle;
	text-align: left;
}

/* ----------------------------------------------------------------- */

.vp-video-mask nav>div {
	display: inline-block;
	margin: 0 5px;
}

/* ----------------------------------------------------------------- */

.vp-video-mask nav select {
	height: 30px;
	width: 120px;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.vp-video-mask nav select[disabled] {
	background: #efefef;
}

/* ----------------------------------------------------------------- */

.vp-video-mask aside>nav {
	display: block;
	height: auto;
	overflow: hidden;
}

.vp-video-mask aside>nav>div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	display: block;
	padding: 0 5px 15px 5px;
	text-align: center;
}

.vp-video-mask aside>nav>div+div {
	text-align: left;
}

/* ----------------------------------------------------------------- */

.vp-video-mask input[type="button"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	border-radius: 4px;
	border2: 1px solid #c0c0c0;
	background-color: #4a90e2;
	border: 0;
	color: #fff;

	padding: 10px 5px;
	width: 60px;

	font-size: 14px;
	font-weight: normal;
	font-family2: Roboto,Arial,Helvetica,sans-serif;

	-moz-transition: background-color .1s cubic-bezier(0.4,0.0,1,1);
	-webkit-transition: background-color .1s cubic-bezier(0.4,0.0,1,1);
	-ms-transition: background-color .1s cubic-bezier(0.4,0.0,1,1);
	transition: background-color .1s cubic-bezier(0.4,0.0,1,1);

}

.vp-video-mask input[type="button"]:hover {
	background-image: linear-gradient(to bottom, #009beb, #0061d3);
}

.vp-video-mask input[type="button"]:active {
	background-image: linear-gradient(to bottom, #009beb, #0061d3);
}

/* ----------------------------------------------------------------- */

.vp-video-mask aside .vp-mask-preview {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	position: relative;
}

.vp-video-mask aside .vp-mask-preview>div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	position: relative;
}

.vp-video-mask aside .vp-mask-preview img {
	display: block;
}

.vp-video-mask aside .vp-mask-preview canvas {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}