
.vp-player {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 100%;
	height: 100%;

	position: relative;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

.vp-player:hover .vp-panel.vp-hide {
	opacity: 1;
	z-index: 0;
}

/* ----------------------------------------------------------------- */

.vp-player .vp-video {
	text-align: center;
	background: black;
}

.vp-player video {
	max-width2: 1500px;
	max-height2: 1500px;

	width: 100%;
	height: 100%;

	display: block;
}

.vp-player video.vp-hide {
	visibility: hidden;
}

.vp-player .vp-video img[vp-name="image"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	position: absolute;
	top: 0;

	width: 100%;
	height: 100%;

	display: none;
}

/* ----------------------------------------------------------------- */

.vp-player .vp-draws {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	position: absolute;
	top: 0;

	width: 100%;
	height: 100%;
}

.vp-player .vp-draws canvas {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	position: absolute;
	left: 0;
	top: 0;
}

/* ----------------------------------------------------------------- */

/* ----------------------------------------------------------------- */

.vp-player .vp-panel {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	position: absolute;
	bottom: 0;

	width: 100%;
	height: 100px;

	padding: 10px;

	background: rgba(0, 0, 0, .5);

	-moz-transition: -moz-opacity .2s cubic-bezier(0.4,0.0,1,1), z-index .2s cubic-bezier(0.4,0.0,1,1);
	-webkit-transition: -webkit-opacity .2s cubic-bezier(0.4,0.0,1,1), z-index .2s cubic-bezier(0.4,0.0,1,1);
	-ms-transition: -ms-opacity .2s cubic-bezier(0.4,0.0,1,1), z-index .2s cubic-bezier(0.4,0.0,1,1);
	transition: opacity .2s cubic-bezier(0.4,0.0,1,1), z-index .2s cubic-bezier(0.4,0.0,1,1);

	opacity: 1;
	z-index: 0;

	cursor: default;
}

.vp-player .vp-panel.vp-hide {
	opacity: 0;
	z-index: -1;
}

/* ----------------------------------------------------------------- */

.vp-player .vp-panel .vp-padding {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	position: relative;
	width: 100%;

	-moz-transition: -moz-opacity .1s cubic-bezier(0.4,0.0,1,1);
	-webkit-transition: -webkit-opacity .1s cubic-bezier(0.4,0.0,1,1);
	-ms-transition: -ms-opacity .1s cubic-bezier(0.4,0.0,1,1);
	transition: opacity .1s cubic-bezier(0.4,0.0,1,1);

	opacity: 1;
}

.vp-player .vp-panel .vp-padding.vp-hide {
	opacity: 0;
	visibility: hidden;
}

.vp-player .vp-panel .vp-padding>div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	position: absolute;

	width: 100%;
	top: -200px;
	height: 200px;

	padding: 10px;

	overflow: hidden;
}

.vp-player .vp-panel .vp-padding>div>div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	position: relative;

	width: 100%;
	height: 100%;

	overflow: hidden;
}

/* ----------------------------------------------------------------- */

.vp-player .vp-panel .vp-padding .vp-padding-container {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	position: absolute;
	width: 100%;
	bottom: 0;
}

/* ----------------------------------------------------------------- */

/*
:root {
	--vp-snap-time-half: 20px;
	--vp-snapshot-half: 74px;
}
*/

/* ----------------------------------------------------------------- */

.vp-player .vp-panel .vp-padding .snapshot {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	position: absolute;

	margin-left: -82px;
	bottom: 0;

	padding: 0;

	background2: rgb(0, 0, 0);
	color: white;
	font-size: 14px;

	font-family: Roboto,Arial,Helvetica,sans-serif;
}

.vp-player .vp-panel .vp-padding .snapshot .image {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	display: block;
	position: relative;

	border: 1px solid #afafaf;
	border-radius: 2px;
}

.vp-player .vp-panel .vp-padding .snapshot .image.vp-hide {
	visibility: hidden;
}

.vp-player .vp-panel .vp-padding .snapshot img {
	display: block;
	border: 1px solid black;

	width: 160px;
	height: 90px;

	-ms-interpolation-mode: bicubic; /* IE 7+ (non-standard property) */
}

.vp-player .vp-panel .vp-padding .label {
	display: block;
	position: absolute;
	bottom: 1px;

	width: 100%;
	text-align: center;
}

.vp-player .vp-panel .vp-padding .time {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	display: inline-block;

	padding: 5px 9px;
	
	min-width: 60px;

	background: rgba(0, 0, 0, .5);
	--background2: red;
	color: white;
	font-size: 14px;
	border-radius: 2px;

	text-align: center;

	font-family: Roboto,Arial,Helvetica,sans-serif;
}

/* ----------------------------------------------------------------- */

.vp-player .vp-panel .vp-progress {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	padding: 6px 10px 15px 10px;
	width: 100%;
}

/* ----------------------------------------------------------------- */

.vp-player .vp-panel .vp-progress .vp-progress-bar-list {
	position: relative;

	height: 4px;
	background: rgba(255,255,255,.1);

	-moz-transition: -moz-transform .1s cubic-bezier(0.4,0.0,1,1);
	-webkit-transition: -webkit-transform .1s cubic-bezier(0.4,0.0,1,1);
	-ms-transition: -ms-transform .1s cubic-bezier(0.4,0.0,1,1);
	transition: transform .1s cubic-bezier(0.4,0.0,1,1);
}

.vp-player .vp-panel .vp-progress .vp-progress-bar-list:hover,
.vp-player .vp-panel .vp-progress .vp-progress-bar-list:active,
.vp-player .vp-panel .vp-progress .vp-progress-bar-list.active
{
	-moz-transform: scaleY(2.5);
	-ms-transform: scaleY(2.5);
	-webkit-transform: scaleY(2.5);
	transform: scaleY(2.5);
}

.vp-player .vp-panel .vp-progress .vp-progress-bar-list .vp-hide {
	display: none;
}

.vp-player .vp-panel .vp-progress .vp-progress-bar-list .vp-progress-loading-bar {
	position: absolute;

	width2: 70%;
	height: 100%;
	background: rgba(255,255,255,.2);
}

.vp-player .vp-panel .vp-progress .vp-progress-bar-list .vp-progress-current-bar {
	position: absolute;

	width2: 40%;
	height: 100%;
	background: rgba(255,0,0,.8);
}

.vp-player .vp-panel .vp-progress .vp-progress-bar-list .vp-progress-hover-bar {
	position: absolute;

	width2: 80%;
	height: 100%;
	background: rgba(255,255,255,.3);
}

/* ----------------------------------------------------------------- */

.vp-player .vp-panel .vp-progress .vp-progress-bar-list .vp-snapshot-list {
	position: absolute;

	overflow: hidden;

	width: 100%;
	height: 100%;
}

/* ----------------------------------------------------------------- */

.vp-player .vp-panel .vp-progress .vp-progress-bar-list .vp-snapshot-list .snapshot {
	position: absolute;

	left2: calc(20% - 3px);
	width: 6px;
	height: 100%;

	margin-left: -3px;

	background: rgba(231,200,0, 0.8);
	background2: white;
}

.vp-player .vp-panel .vp-progress .vp-progress-bar-list .vp-snapshot-list .snapshot:hover {
	-moz-transform: scaleX(2.5);
	-ms-transform: scaleX(2.5);
	-webkit-transform: scaleX(2.5);
	transform: scaleX(2.5);
}

/* ----------------------------------------------------------------- */

.vp-player .vp-panel .vp-icon-bar {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	position: relative;
	padding: 10px;

	width: 100%;
	text-align: left;
}

/* ----------------------------------------------------------------- */

.vp-player .vp-panel .vp-icon-bar .vp-icon {
	display: inline-block;
	margin: 0 6px 0 0;
}

.vp-player .vp-panel .vp-icon-bar .vp-icon:before {
	content: " ";
	width: 32px;
	height: 32px;
	position: absolute;
}

.vp-player .vp-panel .vp-icon-bar .vp-icon.right {
	position: absolute;
	right: 10px;
}

.vp-player .vp-panel .vp-icon-bar>.vp-hide {
	display: none;
}

.vp-player .vp-panel .vp-icon-bar .vp-icon.vp-disabled svg path, .vp-player .vp-panel .vp-icon-bar .vp-icon.vp-disabled svg polygon {
	fill: #ccc;	
}

/* ----------------------------------------------------------------- */

.vp-player .vp-panel .vp-icon-bar .vp-icon svg {
	width: 32px;
	height: 32px;
	vertical-align: middle;
	shape-rendering: geometricPrecision;
}

.vp-player .vp-panel .vp-icon-bar .vp-icon svg path, .vp-player .vp-panel .vp-icon-bar .vp-icon svg polygon {
	fill: darkgray;
}

.vp-player .vp-panel .vp-icon-bar .vp-icon:hover svg path, .vp-player .vp-panel .vp-icon-bar .vp-icon:hover svg polygon {
	fill: lightgray;
}

.vp-player .vp-panel .vp-icon-bar .vp-icon:active svg path, .vp-player .vp-panel .vp-icon-bar .vp-icon:active svg polygon {
	fill: white;
}

/* ----------------------------------------------------------------- */

.vp-player .vp-panel .vp-volume.open {
	width: 100px;
	height: 32px;
	margin: 0 6px 0 0;
}

.vp-player .vp-panel .vp-volume {
    display: inline-block;
    width: 0;
    height: 100%;
    -moz-transition: margin .2s cubic-bezier(0.4,0.0,1,1),width .2s cubic-bezier(0.4,0.0,1,1);
    -webkit-transition: margin .2s cubic-bezier(0.4,0.0,1,1),width .2s cubic-bezier(0.4,0.0,1,1);
    transition: margin .2s cubic-bezier(0.4,0.0,1,1),width .2s cubic-bezier(0.4,0.0,1,1);
    cursor: pointer;
	outline: 0;
	
	vertical-align: middle;
}

/*
.vp-player .vp-panel .vp-volume:hover {
	-moz-transform: scaleY(3);
	-ms-transform: scaleY(3);
	-webkit-transform: scaleY(3);
	transform: scaleY(1.4);
}

.vp-player .vp-panel .vp-volume:hover .vp-volume-slider-handle:before  {
	-moz-transform: scaleY(3);
	-ms-transform: scaleY(3);
	-webkit-transform: scaleY(3);
	transform: scaleX(1.4);
}
*/

/* ----------------------------------------------------------------- */

.vp-player .vp-panel .vp-volume .vp-volume-slider {
	width: 100%;
	height: 100%;
    position: relative;
    overflow: hidden;
}

.vp-player .vp-panel .vp-volume .vp-volume-slider:before {
	content: "";
	position: absolute;
	display: block;
	top: 50%;
	height: 4px;
	width: 100%;
	margin-top: -2px;
	background: rgba(255,255,255,.2);
}

/* ----------------------------------------------------------------- */

.vp-player .vp-panel .vp-volume .vp-volume-slider-track {
	position: absolute;
	display: block;
	top: 50%;
	height: 4px;
	margin-top: -2px;
	background: #fff;
}

/* ----------------------------------------------------------------- */

.vp-player .vp-panel .vp-volume .vp-volume-slider-track .vp-volume-slider-handle {
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	margin-top: -6px;
	background: #fff;
}

/* ----------------------------------------------------------------- */

.vp-player .vp-panel .vp-duration {
	display: inline-block;
	color: white;
	height: 100%;
	line-height: 32px;
}

.vp-player .vp-panel .vp-duration div {
	display: inline-block;

	font-size: 16px;
	border-radius: 2px;

	vertical-align: middle;

	text-align: center;

	font-family: Roboto,Arial,Helvetica,sans-serif;
	
	margin-right: 6px;
}

/* ----------------------------------------------------------------- */

.vp-player .vp-panel .vp-icon-bar .vp-right {
	position: absolute;

	padding: 10px;
	top:0;
	bottom: 0;
	right: 10px;
}

.vp-player .vp-panel .vp-icon-bar .vp-rate {
	display: inline-block;
	color: white;
	font-size: 32px;

	vertical-align: middle;

	font-family: Roboto,Arial,Helvetica,sans-serif;

	border-radius: 4px;
	padding: 0 15px;

	-moz-transition: background-color .2s cubic-bezier(0.4,0.0,1,1);
	-webkit-transition: background-color .2s cubic-bezier(0.4,0.0,1,1);
	-ms-transition: background-color .2s cubic-bezier(0.4,0.0,1,1);
	transition: background-color .2s cubic-bezier(0.4,0.0,1,1);
}

.vp-player .vp-panel .vp-icon-bar .vp-rate:hover {
	background: rgba(255, 255, 255, .2);
}

.vp-player .vp-panel .vp-icon-bar .vp-rate:active {
	background: rgba(255, 255, 255, .3);
}

/* ----------------------------------------------------------------- */

.vp-player .vp-panel .vp-icon-bar .gap {
	display: inline-block;
	width: 20px;
}

/* ----------------------------------------------------------------- */

.vp-player .vp-panel .vp-icon-bar .vp-rate-list {
	position: absolute;
	right: 0;
	bottom: 50px;

	padding: 0px;

	color: white;
	font-size: 24px !important;

	font-family: Roboto,Arial,Helvetica,sans-serif;

	border-radius: 8px;
	background: rgba(255, 255, 255, .1);

	overflow: hidden;

	-moz-transition: -moz-opacity .2s cubic-bezier(0.4,0.0,1,1);
	-webkit-transition: -webkit-opacity .2s cubic-bezier(0.4,0.0,1,1);
	-ms-transition: -ms-opacity .2s cubic-bezier(0.4,0.0,1,1);
	transition: opacity .2s cubic-bezier(0.4,0.0,1,1);

	opacity: 1;
}

.vp-player .vp-panel .vp-icon-bar .vp-rate-list.vp-hide {
	opacity: 0;
	z-index: -1;
}

/* ----------------------------------------------------------------- */

.vp-player .vp-panel .vp-icon-bar .vp-rate-list>div {
	padding: 10px 20px;

	-moz-transition: background-color .2s cubic-bezier(0.4,0.0,1,1);
	-webkit-transition: background-color .2s cubic-bezier(0.4,0.0,1,1);
	-ms-transition: background-color .2s cubic-bezier(0.4,0.0,1,1);
	transition: background-color .2s cubic-bezier(0.4,0.0,1,1);

}

.vp-player .vp-panel .vp-icon-bar .vp-rate-list>div:hover {
	background: rgba(255, 255, 255, .2);
}

.vp-player .vp-panel .vp-icon-bar .vp-rate-list>div:active {
	background: rgba(255, 255, 255, .3);
}

/* ----------------------------------------------------------------- */

.vp-player .vp-external {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	display: inline-block;

	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	opacity: 1;
	z-index: 10;

	-moz-transition: -moz-opacity .2s cubic-bezier(0.4,0.0,1,1), z-index .2s cubic-bezier(0.4,0.0,1,1);
	-webkit-transition: -webkit-opacity .2s cubic-bezier(0.4,0.0,1,1), z-index .2s cubic-bezier(0.4,0.0,1,1);
	-ms-transition: -ms-opacity .2s cubic-bezier(0.4,0.0,1,1), z-index .2s cubic-bezier(0.4,0.0,1,1);
	transition: opacity .2s cubic-bezier(0.4,0.0,1,1), z-index .2s cubic-bezier(0.4,0.0,1,1);
}

.vp-player .vp-external.vp-hide {
	z-index: -1;
	opacity: 0;
}