@charset "UTF-8";

body {
	background-image: url(/resources/img/content/list-bg.png) !important;
	background-position: center;
	background-size: cover;
	background-color: #2B2B2B;
}

#list {
	background-image: none !important;
	background-color: transparent !important;
}

#list .inner {
	height: calc(100vh - 100px);
}

#list .video-list .img:after {
	background-color: rgba(0, 0, 0, 0) !important;
}

#list .video-list .img {
	background-size: auto !important;
	background-color: black !important;
	background-repeat: no-repeat !important;
	background-position-x: center !important;
}

#list .title>p {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}