@charset "UTF-8";

/* ----------------------------------------------------------------- */

.popup {
	z-index: 1;
}

.popup select::-ms-expand {
    background-color: inherit;
    border: 0;
    color: #aaa;
}

.popup.vp-screenshot nav .title, .popup.video-mask .title {
	font-size: 20px;
	color: #fff;
	margin-right: 20px;
}

.popup.vp-screenshot nav .title:before, .popup.video-mask .title:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 4px;
	height: 10px;
	background-color: #4a90e2;
	margin-right: 10px;
}

/* ----------------------------------------------------------------- */

.popup.vp-screenshot nav {
	float: right;
	position: relative;
	top: -30px;
}

.popup.vp-screenshot nav input[type="text"] {
	height: 30px;
	width: 200px;
	min-width: 80px;
    
	border: 1px solid #181818 !important;
	cursor: text !important;
	background: #2e2e2e;
	color: #fff;
	font-family: NanumSquare, sans-serif;
	
	margin-right: 10px;
}

.popup.vp-screenshot nav input[type="text"][disabled] {
	background: #181818;
}


.popup.vp-screenshot nav select {
	height: 30px;
	width: 120px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	
	background: #2e2e2e;
	color: #fff;
	font-family: NanumSquare, sans-serif;
}

.popup.vp-screenshot nav select[disabled] {
	background: #181818;
}

/* ----------------------------------------------------------------- */

.popup.vp-screenshot .thumbnail {
	position: relative;
}

.popup.vp-screenshot section>article img {
	max-width: 100%;
	max-height: 100%;
	
	vertical-align: middle;
}

.popup.vp-screenshot section>article canvas {
}

/* ----------------------------------------------------------------- */

.popup.video-mask .inner {
	font-size: 13px;
	width: 1400px;
}

/* ----------------------------------------------------------------- */

.popup.video-mask, .popup.vp-screenshot {
	white-space: nowrap;
}

/* ----------------------------------------------------------------- */

.popup.video-mask,
.popup.video-mask section>article img,
.popup.video-mask section>article canvas,
.popup.vp-screenshot,
.popup.vp-screenshot section>article img,
.popup.vp-screenshot section>article canvas
 {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

/* ----------------------------------------------------------------- */

.popup.video-mask section {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	position: relative;
	overflow: hidden;
}

/* ----------------------------------------------------------------- */

.popup.video-mask section>article {
	display: inline-block;

	position: relative;
	
	width: 1000px;
}

/* ----------------------------------------------------------------- */

.popup.video-mask section>article img {
	max-width: 100%;
	max-height: 100%;
}

/* ----------------------------------------------------------------- */

.popup.video-mask section>aside {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	
	flex-direction: column;
	
	width: 400px;
	
	padding-left: 30px;
}

/* ----------------------------------------------------------------- */

.popup.video-mask section>aside nav {
	-webkit-flex: 1 1 auto;
	-moz-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;	
}

.popup.video-mask section>aside nav>div {
	position: relative;
	width: 100%;
	height: 100%;
}

.popup.video-mask section>aside nav img {
	background: red;
}

/* ----------------------------------------------------------------- */

.popup.video-mask aside .vp-mask-preview {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	display: inline-block;
	
	width: 350px;
	height: 420px;
	
	position: absolute;
	text-align: center;
	
	background-color: #272727;
	
	top: 50%;
	transform: translateY(-50%);
}

.popup.video-mask aside .vp-mask-preview>div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	display: inline-block;
	
	position: relative;
	
	top: 50%;
	transform: translateY(-50%);
}}

.popup.video-mask aside .vp-mask-preview img {
	display: inline-block;
	
	max-width: 100%;
	max-height: 100%;
}

.popup.video-mask aside .vp-mask-preview canvas {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

/* ----------------------------------------------------------------- */

.popup.video-mask label .name {
    font-size: 16px;
    width: auto;
    color: white;
}

.popup.video-mask .thumbnail {
	margin-bottom: 0 !important;
}

/* ----------------------------------------------------------------- */

.popup .thumbnail:before {
	content: none !important;
}

/* ----------------------------------------------------------------- */

.vp-canvas {
	outline: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;	

	position: absolute;

	width: 100%;
	height: 100%;

	top: 0;
	left: 0;
}

/* ----------------------------------------------------------------- */

.vp-canvas .vp-mask-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	border: 1px solid rgba(0,0,0,1);
	background-color: rgba(0,0,0,0.7);

	display: flex;

	align-items: center;

	position: absolute;

	color: white;

	text-align: center;

	-moz-transition: background-color .1s cubic-bezier(0.4,0.0,1,1);
	-webkit-transition: background-color .1s cubic-bezier(0.4,0.0,1,1);
	-ms-transition: background-color .1s cubic-bezier(0.4,0.0,1,1);
	transition: background-color .1s cubic-bezier(0.4,0.0,1,1);

}

.vp-canvas .vp-mask-box:hover {
	background-color: rgba(0,0,0,0.5);
}

.vp-canvas .vp-mask-box.vp-select {
	background-color: rgba(0,0,0,0.3)
}

/* ----------------------------------------------------------------- */

.vp-canvas.vp-invert {
	background: rgba(0,0,0,0.5);
}

/* ----------------------------------------------------------------- */

.vp-canvas.vp-invert .vp-mask-box {
	background-color: rgba(255,255,255,0.2);
}

.vp-canvas.vp-invert .vp-mask-box:hover {
	background-color: rgba(255,255,255,0.25);
}

.vp-canvas.vp-invert .vp-mask-box.vp-select {
	background-color: rgba(255,255,255,0.3);
}

/* ----------------------------------------------------------------- */

.vp-canvas .vp-edit-point {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	border: 1px solid #99CCFF;
	background-color: rgba(202,229,255,0.1);

	opacity: 0.3;

	display: inline-block;

	position: absolute;

	width: 20px;
	height: 20px;

	margin-left: -10px;
	margin-top: -10px;
}

.vp-canvas .vp-edit-point.vp-ep-LT { left: 0; top: 0; }
.vp-canvas .vp-edit-point.vp-ep-CT { left: 50%; top: 0; }
.vp-canvas .vp-edit-point.vp-ep-RT { left: 100%; top: 0; }
.vp-canvas .vp-edit-point.vp-ep-LC { left: 0; top: 50%; }
.vp-canvas .vp-edit-point.vp-ep-RC { left: 100%; top: 50%; }
.vp-canvas .vp-edit-point.vp-ep-LB { left: 0; top: 100%; }
.vp-canvas .vp-edit-point.vp-ep-CB { left: 50%; top: 100%; }
.vp-canvas .vp-edit-point.vp-ep-RB { left: 100%; top: 100%; }

.vp-canvas .vp-edit-point.vp-ep-LT:hover,
.vp-canvas .vp-edit-point.vp-ep-CT:hover,
.vp-canvas .vp-edit-point.vp-ep-RT:hover,
.vp-canvas .vp-edit-point.vp-ep-LC:hover,
.vp-canvas .vp-edit-point.vp-ep-RC:hover,
.vp-canvas .vp-edit-point.vp-ep-LB:hover,
.vp-canvas .vp-edit-point.vp-ep-CB:hover,
.vp-canvas .vp-edit-point.vp-ep-RB:hover
{
	background-color: rgba(202,229,255,0.4);
}

/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */

.vp-canvas .vp-label-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	border: 1px solid #99CCFF;
	background-color: transparent;

	display: flex;

	align-items: center;

	position: absolute;
	font-size: 14px;

	color: white;

	text-align: center;

	-moz-transition: background-color .1s cubic-bezier(0.4,0.0,1,1);
	-webkit-transition: background-color .1s cubic-bezier(0.4,0.0,1,1);
	-ms-transition: background-color .1s cubic-bezier(0.4,0.0,1,1);
	transition: background-color .1s cubic-bezier(0.4,0.0,1,1);

}

.vp-canvas .vp-label-box:hover {
	background-color: rgba(202,229,255,0.1);
}

.vp-canvas .vp-label-box.vp-select {
	background-color: rgba(202,229,255,0.2);
}

/* ----------------------------------------------------------------- */

.vp-canvas .vp-label-box .vp-text-label {
	display: inline-block;
	width: 100%;
}
