@charset "UTF-8";

/* ----------------------------------------------------------------- */

header .search .filter-box {
	max-width: 70%;
	height: 100%;
	overflow-x: hidden;
}

.slider-range.height .tooltip:after { content: "cm"; }
.slider-range.status .tooltip:after { content: "mm" !important; }

/*
#filter {
	will-change: visibility, z-index;
	
	transform: translateZ(0);
	
	display: block !important;
	visibility: hidden;
	z-index: -1;
}

#filter.on {
	visibility: visible;
	z-index: 9;
}
*/

#visual-searcher>div.search-box {
	width: 100%;
	height: 100%;
	
	position: relative;
	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	display: flexbox;
	display: box;
}

#visual-searcher>div.search-box>* {
	-webkit-flex: 0 0 auto;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

#visual-searcher>div.search-box>input[type="text"] {
	-webkit-flex: 1 1 auto;
	-moz-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

header .search .search-btn {
	margin-top: 3px;
}

header .search .filter-btn {
	top: 5px !important;
}

#visual-searcher input[vs-name="text-title"] {
	width: calc(100% - 100px);
}

#filter {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#upload .upload-info-list .list .thumbnail {
	float: none !important;
}

/* ----------------------------------------------------------------- */
/* 섬네일 목록 */
/* ----------------------------------------------------------------- */

.snapshot-list > li {
}

.snapshot-shape-list {
	margin-top: 20px;
}

.snapshot-shape-list > li {
	position: relative;
}

.snapshot-shape-list .mod-btn {
	top: -20px !important;
}

.snapshot-label {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 120px;
	height: 90px;
	margin-left: 80px;
	text-align: right;
}

#upload .upload-info-list .list .snapshot-label {
	overflow: hidden;
	width: 120px;
	height: 90px;
	position: absolute;
	float: left;
	margin-left: 80px;
	text-align: right;
}


/*
.snapshot-label-image {
	width: 120px;
	height: 90px;
	position: relative;
	text-align: right;
	vertical-align: middle;
	display2: table-cell;
}
*/

.snapshot-label img {
	max-width: 100%;
	max-height: 100%;
}

#upload .upload-info-list .list .snapshot-list .descript {
	height: 90px;
	margin-top: 34px !important;
}
