@charset "UTF-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800");
html, body { width: 100%; min-width: 1400px; height: 100%; font-size: 0; line-height: 1; font-family: 'NanumSquare', sans-serif; font-weight: 100; }

.gothic { font-family: 'Nanum Gothic', sans-serif; }

.normal { font-weight: 400; }

.bold { font-weight: 700; }

.bolder { font-weight: 800; }

.light { font-weight: 300; }

a { text-decoration: none; color: inherit; }

div, ul, li { box-sizing: border-box; }

ul, li { list-style: none; }

* { margin: 0; padding: 0; }

input { border-radius: 0; border: none; box-shadow: none; cursor: pointer; }

button { cursor: pointer; }

label { cursor: pointer; }

.fll { float: left; }

.flr { float: right; }

.dib { display: inline-block; }

.db { display: block; }

.vt { vertical-align: top; }

.vm { vertical-align: middle; }

.vb { vertical-align: bottom; }

.ab { position: absolute; }

.re { position: relative; }

.tc { text-align: center; }

.tl { text-align: left; }

.tr { text-align: right; }

.half { display: inline-block; vertical-align: top; width: 50%; }

header { padding: 25px 50px; height: 100px; min-width: 1400px; box-sizing: border-box; box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.5); background-image: linear-gradient(to bottom, #3f3f3f, #383838); position: relative; }

header .logo { position: absolute; top: 37.5px; left: 10px; }

header .logo h1 { text-transform: uppercase; font-size: 25px; color: #fff; }

header .logo h1 span { font-size: 16px; }

header .search { width: 1400px; height: 50px; margin: 0 auto; padding: 10px; border-radius: 5px; border: solid 1px #666666; background-color: #393939; }

header .search .search-btn { width: 20px; height: 20px; margin-right: 12px; }

header .search .search-btn img { width: 100%; }

header .search input { font-size: 16px; color: #fff; background-color: transparent; border: 0; outline: 0; }

header .search .filter-btn { width: 20px; height: 20px; top: 14px; right: 20px; background-image: url("/resources/img/icon/i-filter.png"); background-position: center; background-size: contain; }

header .search .filter-btn:hover, header .search .filter-btn.on { background-image: url("/resources/img/icon/i-filterOn.png"); }

header .search .filter-box { margin-right: 5px; }

header .search .filter-box .ft-box { display: inline-block; vertical-align: middle; padding: 6px 10px; background-color: #4a90e2; border-radius: 3px; margin-right: 5px; }

header .search .filter-box .ft-box:last-child { margin-right: 0; }

header .search .filter-box .ft-box span { font-size: 16px; color: #fff; display: inline-block; vertical-align: middle; margin-right: 18px; }

header .search .filter-box .ft-box img { width: 8px; height: 8px; vertical-align: middle; cursor: pointer; }

@media screen and (max-width: 2020px) { header .search { width: calc(100% - 620px); } }

header .head-btn { position: absolute; top: 25px; right: 10px; }

header .head-btn a { font-size: 14px; color: #aaa; padding: 15px 0; }

header .head-btn a img { margin-right: 13px; }

header .head-btn .upload-btn { color: #fff; width: 168px; border-radius: 5px; margin-right: 15px; background-image: linear-gradient(to bottom, #009beb, #0061d3); }

header .head-btn .signOut-btn { padding: 15px; }

#filter { display: none; transition: 500ms; left: 0; right: 0; bottom: 0; top: 100px; background-color: rgba(0, 0, 0, 0.73); min-width: 1400px; z-index: 9; }

#filter.on { display: block; }

#filter .inner { background-color: #686868; padding: 30px 50px 0; }

#filter .close-btn { position: absolute; top: 30px; right: 50px; }

#filter .filter-input { border: 0; padding-bottom: 6px; padding: 6px 10px; font-size: 18px; color: #fff; display: block; width: 100%; box-sizing: border-box; border-bottom: 1px #A6A6A6 solid; background-color: transparent; }

#filter .filter-tab { padding-bottom: 23px; border-bottom: solid 1px #979797; }

#filter .filter-tab li:first-child a { padding-left: 0; }

#filter .filter-tab li:last-child a { padding-right: 0; border-right: 0; }

#filter .filter-tab li.on a { font-weight: 800; color: #fff; }

#filter .filter-tab a { display: inline-block; font-size: 20px; color: #a5a5a5; padding: 0 40px; border-right: 1px #d6d6d6 solid; }

#filter .filter-list > li { display: none; }

#filter .filter-list > .on { display: block; }

#filter .filter-list li:nth-child(1) .check-list { height: 530px; }

#filter .filter-list li:nth-child(2) .check-list { height: 500px; }

#filter .filter-list li:nth-child(3) .check-list { height: 440px; }

#filter .check-list > li { display: inline-block; vertical-align: top; height: 100%; padding: 35px 20px; width: 25%; color: #fff; font-size: 16px; }

#filter .check-list > li:first-child { padding-left: 0; }

#filter .check-list > li:nth-child(2n) { background-color: #606060; }

#filter .check-list .title { margin-bottom: 15px; }

#filter .check-list .title.etc:before { content: ""; display: inline-block; vertical-align: middle; width: 4px; height: 10px; background-color: #4a90e2; margin-right: 10px; }

#filter .check-list .title.etc b { display: inline-block; vertical-align: middle; }

#filter .check-list .group { margin-bottom: 24px; }

#filter .oper-tab { font-size: 0; }

#filter .oper-tab li { display: inline-block; vertical-align: top; width: 33.333%; }

#filter .oper-tab li.on > a { font-weight: 800; color: #fff; border-bottom: 4px #4a90e2 solid; }

#filter .oper-tab li.on .box { display: block; }

#filter .oper-tab li > a { font-weight: 400; font-size: 16px; color: #a6a6a6; text-align: center; display: inline-block; width: 100%; padding: 10px 0; border-bottom: 2px #686868 solid; margin-bottom: 17px; }

#filter .oper-tab li .box { display: none; padding: 17px 20px; border-radius: 8px; color: #fff; background-color: #4f4f4f; position: relative; }

#filter .oper-tab li .box:before { content: ""; display: inline-block; width: 8px; height: 8px; background-color: #4f4f4f; transform: rotate(45deg); position: absolute; top: -5px; left: calc(50% - 6px); }

#filter .oper-tab li .box .name { width: auto; line-height: 1; font-size: 16px; }

#filter .fold { height: 32px; background-color: #4a90e2; position: relative; text-align: center; cursor: pointer; }

#filter .fold a { position: relative; top: 6px; display: inline-block; width: 40px; height: 20px; background-image: url("/resources/img/icon/i-up.png"); background-size: 100% 100%; background-position: center center; background-repeat: no-repeat; }

#filter .range { position: relative; padding-top: 40px; }

#filter .range .ui-slider-horizontal { height: 2px; }

#filter .range .ui-slider-horizontal .ui-slider-range { top: -1px; height: 2px; background-color: #4a90e2; }

#filter .range .ui-state-default, #filter .range .ui-widget-content .ui-state-default, #filter .range .ui-widget-header .ui-state-default, #filter .range .ui-button, #filter .range html .ui-button.ui-state-disabled:hover, #filter .range html .ui-button.ui-state-disabled:active { width: 11px; height: 11px; border-radius: 50%; border: 1px #4a90e2 solid; }

#filter .range .tooltip { display: inline-block; width: 50px; border-radius: 3px; background-color: #4a90e2; font-size: 12px; padding: 5px 0; color: #fff; text-align: center; position: absolute; bottom: 12px; }

#filter .range .tooltip:before { content: ""; display: inline-block; position: absolute; width: 5px; height: 5px; background-color: #4a90e2; transform: rotate(45deg); top: calc(100% - 2px); left: calc(50% - 2.5px); }

.slider-range.age .tooltip:after { content: "세"; }

.slider-range.weight .tooltip:after { content: "Kg"; }

.slider-range.num .tooltip:after { content: "개"; }

.slider-range.status .tooltip:after { content: "개"; }

.chkbox { margin-bottom: 18px; }

.chkbox:last-child { margin-bottom: 0; }

.chkbox input { display: none; }

.chkbox input:checked + span { background-color: #4a90e2; }

.chkbox input:checked + span:before { content: ""; display: inline-block; width: 5px; height: 5px; position: absolute; top: 5px; left: 5px; background-image: url("/resources/img/icon/i-chk.png"); background-size: contain; }

.chkbox span { display: inline-block; vertical-align: top; line-height: 1.5; }

.chkbox .name { width: 88%; }

.chkbox .check { position: relative; width: 15px; height: 15px; border-radius: 2px; background-color: #fff; margin-right: 10px; top: 5px; }

.chkbox.round .check { border-radius: 50%; border: 1px #979797 solid; box-sizing: border-box; background-color: transparent; }

.chkbox.round input:checked + span { border: solid 3px #4a90e2; background-color: transparent; }

.chkbox.round input:checked + span:before { display: none; }

#login { background-color: #f7f7f7; }

#login .inner { height: 100%; background-image: url("/resources/img/content/login-bg.jpg"); background-repeat: no-repeat; background-position: right top; background-size: 50% auto; }

#login .inner:before { content: ""; display: inline-block; vertical-align: middle; height: 100%; }

#login .content .form { padding: 35px 30px 25px; border-radius: 8px; box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2); background-color: #fff; width: 340px; right: 45px; }

#login .content .form .title { font-size: 30px; color: #757575; margin-bottom: 10px; }

#login .content .form .desp { font-size: 14px; color: #a1a1a1; margin-bottom: 45px; }

#login .content .form .user-name { margin-bottom: 20px; }

#login .content .form .user-name .name { font-size: 12px; color: #a1a1a1; }

#login .content .form .user-pw { margin-bottom: 14px; margin-bottom: 15px; }

#login .content .form .user-pw .name { font-size: 12px; color: #4a90e2; }

#login .content .form .login-status { margin-bottom: 26px; }

#login .content .form .login-status .label { font-size: 14px; color: #a1a1a1; }

#login .content .form .login-status input { display: none; }

#login .content .form .login-status input:checked + .chk { background-color: #4a90e2; }

#login .content .form .login-status .chk { width: 12px; height: 12px; border-radius: 50%; margin-right: 10px; border: 1px #4a90e2 solid; background-color: #fff; }

#login .content .form .login-input { width: 100%; padding: 5px 0 9px; border-bottom: 1px #d4d4d4 solid; font-size: 14px; color: #757575; outline: none; }

#login .content .form .login-btn { font-size: 14px; color: #fff; border-radius: 4px; background-color: #4a90e2; padding: 13px 0; width: 114px; }

#login .content .sign-in { left: 45px; padding: 35px 0 25px; }

#login .content .sign-in .medical { margin-bottom: 20px; }

#login .content .sign-in .medical h1 { font-size: 50px; color: #fff; font-weight: bold; }

#login .content .sign-in .medical h1 span { font-size: 30px; }

#login .content .sign-in .desp { margin-bottom: 80px; font-size: 14px; color: #d5d5d5; line-height: 20px; }

#login .content .sign-in .regist-btn { padding: 13px 0; color: #fff; font-size: 14px; width: 114px; border: 2px #fff solid; background-color: transparent; border-radius: 4px; box-sizing: border-box; }

#list { background-image: url("/resources/img/content/list-bg.png"); background-position: center; background-size: cover; background-color: #2B2B2B; }

#list .inner { padding: 70px 0; margin: 0 auto; width: 1400px; }

#list ul:after { content: ""; display: block; clear: both; }

#list .video-list { width: 320px; margin-left: 30px; margin-bottom: 40px; }

#list .video-list:nth-child(4n+1) { margin-left: 0; }

#list .video-list .video-info { display: none; position: relative; z-index: 1; }

#list .video-list .video-info img { margin-right: 5px; }

#list .video-list .video-info span { font-size: 14px; color: #fff; }

#list .video-list .video-info .time { margin-bottom: 10px; }

#list .video-list:hover .img { border: solid 4px #0089e4; }

#list .video-list:hover .video-info { display: inline-block; }

#list .video-list .img { height: 180px; background-image: url("/resources/img/content/list-img.jpg"); background-size: cover; position: relative; }

#list .video-list .img:after { content: ""; display: block; height: 100%; position: absolute; top: 0; left: 0; width: 100%; background-color: rgba(0, 0, 0, 0.83); z-index: 0; }

#list .video-list .img:before { content: ""; display: inline-block; vertical-align: middle; height: 100%; }

#list .video-list .img .intestine { margin-right: 20px; position: relative; z-index: 1; }

#list .video-list .title { margin-top: 17px; font-size: 16px; color: #fff; }

#list .more-btn { width: 430px; font-size: 16px; color: #fff; border: 1px #979797 solid; border-radius: 5px; padding: 15px 0; background-color: transparent; }

#upload { background-color: #2B2B2B; height: calc(100% - 100px); }

#upload .inner { margin: 0 auto; width: 1400px; height: 100%; }

#upload .info, #upload .upload { display: inline-block; vertical-align: top; height: 100%; }

#upload .info { width: 450px; background-color: #181818; padding: 5px 0 40px; }

#upload .upload { width: calc(100% - 450px); background-image: linear-gradient(to top, #313131, #3d3c3c); text-align: center; position: relative; }

#upload .upload:before { content: ""; display: inline-block; vertical-align: middle; height: 100%; }

#upload .upload > div { display: inline-block; vertical-align: middle; }

#upload .upload .img { margin-bottom: 30px; }

#upload .upload .txt { color: #fff; }

#upload .upload .txt p:first-child { font-size: 20px; margin-bottom: 15px; }

#upload .upload .txt p:last-child { font-size: 14px; }

#upload .upload-tab { border-bottom: 2px #4a90e2 solid; }

#upload .upload-tab li { display: inline-block; vertical-align: top; width: 33.333%; text-align: center; }

#upload .upload-tab li.on a { color: #4a90e2; }

#upload .upload-tab a { display: inline-block; width: 100%; font-size: 24px; color: #fff; padding: 20px 0; }

#upload .upload-info-list { height: calc(100% - 40px); }

#upload .upload-info-list > ul { padding: 35px 40px 0; overflow-y: auto; box-sizing: border-box; height: 100%; }

#upload .upload-info-list > ul > li { display: none; }

#upload .upload-info-list > ul > li.on { display: block; }

#upload .upload-info-list .group { margin-bottom: 30px; }

#upload .upload-info-list .group:last-child { margin-bottom: 0; }

#upload .upload-info-list .title { font-size: 20px; color: #fff; margin-bottom: 20px; }

#upload .upload-info-list .title.etc:before { content: ""; display: inline-block; vertical-align: middle; width: 4px; height: 10px; background-color: #4a90e2; margin-right: 10px; }

#upload .upload-info-list .title.etc span { display: inline-block; vertical-align: middle; }

#upload .upload-info-list .upload-input { margin-bottom: 10px; position: relative; }

#upload .upload-info-list .upload-input:last-child { margin-bottom: 0; }

#upload .upload-info-list .upload-input .sub { padding: 12px 0; }

#upload .upload-info-list .upload-input .half { display: inline-block; vertical-align: top; width: calc(50% - 15px); position: relative; }

#upload .upload-info-list .upload-input .half:first-child { margin-right: 30px; }

#upload .upload-info-list .upload-input .half .unit { font-size: 16px; color: #818181; position: absolute; top: 12px; right: 0px; }

#upload .upload-info-list .upload-input .half .chkbox { padding: 10px; }

#upload .upload-info-list .upload-input .upload-info-input { font-size: 16px; color: #fff; padding: 10px; padding-right: 30px; border-bottom: 1px #818181 solid; background-color: transparent; width: 100%; box-sizing: border-box; outline: none; }

#upload .upload-info-list .sub { display: inline-block; vertical-align: middle; font-size: 16px; margin-right: 30px; color: #fff; }

#upload .upload-info-list .chkbox { color: #fff; }

#upload .upload-info-list .chkbox .name { font-size: 16px; width: auto; }

#upload .upload-info-list .chkbox label { margin-right: 20px; }

#upload .upload-info-list .chkbox label:last-child { margin-right: 0; }

#upload .upload-info-list .list { overflow: auto; overflow-x: hidden; height: 100%; color: #FFF; }

#upload .upload-info-list .list > ul > li { position: relative; padding: 30px 0; overflow: hidden; border-top: 1px #3a3a3a solid; }

#upload .upload-info-list .list > ul > li:first-child { border-top: 0 none; }

#upload .upload-info-list .list .mod-btn { position: absolute; top: 30px; right: 0; }

#upload .upload-info-list .list .mod-btn .modify { margin-right: 14px; }

#upload .upload-info-list .list .thumbnail { overflow: hidden; width: 220px; height: 113px; background-color: #AAA; position: relative; float: left; }

#upload .upload-info-list .list .thumbnail .time { color: #fff; display: inline-block; bottom: 0; position: absolute; right: 0; padding: 0 10px; background-color: #000; opacity: 0.8; font-size: 12px; text-align: center; line-height: 25px; padding-left: 30px; background-image: url("/resources/img/icon/i-pin.png"); background-repeat: no-repeat; background-position: 10px center; }

#upload .upload-info-list .list .descript { margin-top: 24px; }

#upload .upload-info-list .list .descript li { color: #FFF; height: auto; margin-left: 230px; font-size: 16px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-bottom: 7px; }

#upload .upload-info-list .list .descript li:last-child { margin-bottom: 0; }

#upload .upload-info-list .screen-search { padding: 0 30px; }

#upload .upload-info-list .screen-search input[type="text"] { background-color: transparent; height: 45px; width: 100%; font-size: 24px; border-bottom: solid 2px #4a90e2; box-sizing: border-box; padding: 5px 0 10px 40px; color: #4a90e2; background-image: url("/resources/img/icon/i-screen-search.png"); background-repeat: no-repeat; background-position: 0 center; font-weight: 100; }

#upload .upload-info-list .screen-search input[type="text"]::placeholder { color: #FFF; }

#upload .upload-title { position: absolute; background-color: #181818; top: 0; left: 0; width: 100%; height: 71px; padding: 0 50px 0 30px; border-bottom: 2px #4a90e2 solid; border-left: 1px #585858 solid; }

#upload .upload-title:before { content: ""; display: inline-block; vertical-align: middle; height: 100%; }

#upload .upload-title .title-input { display: inline-block; vertical-align: middle; font-size: 18px; border: 0; outline: 0; width: calc(100% - 80px); color: #fff; padding: 16px 0; background-color: transparent; }

#upload .upload-title .v-regist-btn { display: inline-block; vertical-align: middle; width: 80px; font-size: 14px; font-weight: 700; color: #fff; padding: 18px 0; border-radius: 5px; background-image: linear-gradient(to bottom, #009beb, #0061d3); }

.popup { display: none; position: absolute; width: 100%; top: 0; left: 0; height: 100%; background-color: rgba(32, 32, 32, 0.9); text-align: center; }

.popup.on { display: block; }

.popup:before { content: ""; display: inline-block; vertical-align: middle; height: 100%; }

.popup .inner { width: 840px; max-height: 800px; overflow-y: auto; display: inline-block; vertical-align: middle; background-color: #2e2e2e; padding: 70px 40px; border-radius: 5px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); text-align: left; }

.popup .popup-close { position: absolute; top: 40px; right: 40px; }

.popup .popup-close img { width: 15px; }

.popup .thumbnail { overflow: hidden; height: 470px; margin-bottom: 40px; background-color: #1f1f1f; text-align: center; }

.popup .thumbnail:before { content: "thumbnail"; display: inline-block; vertical-align: middle; font-size: 24px; color: #fff; }

.popup .thumbnail:after { content: ""; display: inline-block; vertical-align: middle; height: 100%; }

.popup .group { margin-bottom: 60px; }

.popup .group:last-child { margin-bottom: 0; }

.popup .group label { margin-right: 15px; }

.popup .group label:last-child { margin-right: 0; }

.popup .group .name { width: auto; font-size: 14px; color: #fff; line-height: 1; vertical-align: middle; }

.popup .group .check { vertical-align: middle; }

.popup .title { font-size: 20px; color: #fff; margin-bottom: 20px; }

.popup .title.etc:before { content: ""; display: inline-block; vertical-align: middle; width: 4px; height: 10px; background-color: #4a90e2; margin-right: 10px; }

.popup .title.etc span { display: inline-block; vertical-align: middle; }

.popup .upload-input .upload-info-input { font-size: 16px; color: #fff; padding: 10px; padding-right: 30px; border-bottom: 1px #818181 solid; background-color: transparent; width: 100%; box-sizing: border-box; outline: none; }

.popup .popup-btn { margin-top: 50px; text-align: center; }

.popup .popup-btn .popup-save { display: inline-block; width: 125px; background-color: #4a90e2; font-size: 14px; color: #fff; padding: 10px 0; border-radius: 4px; }

#login { background-color: #f7f7f7; height: 100%; }

#login .inner { height: 100%; }

#login .content { min-width: 1400px; position: absolute; top: 0; left: 0; bottom: 0; right: 0; }

#login .content .from-wrapper, #login .content .sign-in-wrapper { height: 100%; width: 50%; box-sizing: border-box; position: relative; }

#login .content .from-wrapper { float: left; }

#login .content .sign-in-wrapper { float: right; background-image: url("/resources/img/content/login-bg.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover; }

#login .content .form { padding: 35px 30px 25px; border-radius: 8px; box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2); background-color: #fff; width: 340px; right: 45px; text-align: left; position: absolute; right: 50px; top: 50%; transform: translateY(-50%); }

#login .content .form input[type="text"], #login .content .form input[type="password"] { transition: 1s; }

#login .content .form input[type="text"]:focus, #login .content .form input[type="password"]:focus { border-color: #4a90e2; }

#login .content .form .title { font-size: 30px; color: #757575; margin-bottom: 10px; }

#login .content .form .desp { font-size: 14px; color: #a1a1a1; margin-bottom: 45px; }

#login .content .form .user-name { margin-bottom: 20px; }

#login .content .form .user-name .name { font-size: 12px; color: #a1a1a1; }

#login .content .form .user-pw { margin-bottom: 14px; margin-bottom: 15px; }

#login .content .form .user-pw .name { font-size: 12px; color: #a1a1a1; }

#login .content .form .login-status { margin-bottom: 26px; }

#login .content .form .login-status .label { font-size: 14px; color: #a1a1a1; }

#login .content .form .login-status input { display: none; }

#login .content .form .login-status input:checked + .chk { background-color: #4a90e2; }

#login .content .form .login-status .chk { width: 12px; height: 12px; border-radius: 50%; margin-right: 10px; border: 1px #4a90e2 solid; background-color: #fff; }

#login .content .form .login-input { width: 100%; padding: 5px 0 9px; border-bottom: 1px #d4d4d4 solid; font-size: 14px; color: #757575; outline: none; }

#login .content .form .login-btn { font-size: 14px; color: #fff; border-radius: 4px; background-color: #4a90e2; padding: 13px 0; width: 114px; }

#login .content .sign-in { left: 45px; padding: 104px 0 25px; text-align: left; position: absolute; right: 50px; top: 50%; transform: translateY(-50%); height: 370px; }

#login .content .sign-in .medical { margin-bottom: 20px; }

#login .content .sign-in .medical h1 { font-size: 50px; color: #fff; font-weight: bold; }

#login .content .sign-in .medical h1 span { font-size: 30px; }

#login .content .sign-in .desp { margin-bottom: 80px; font-size: 14px; color: #d5d5d5; line-height: 20px; }

#login .content .sign-in .regist-btn { padding: 13px 0; color: #fff; font-size: 14px; width: 114px; border: 2px #fff solid; background-color: transparent; border-radius: 4px; box-sizing: border-box; }

#login .copy { margin-top: 34px; position: absolute; }

#login .copy address { font-style: normal; font-size: 12px; color: #a1a1a1; }

#login .copy a { font-size: 12px; color: #a1a1a1; margin-left: 8px; }

.video-container .player { position: relative; background-color: #000 !important; }

.video-container .player video { position: absolute; width: 100%; height: 100%; z-index: 10; }

.video-container .player video:focus { outline: 0 none; }

#view { background-color: #2b2b2b; }

#view .inner { width: 1376px; margin: 0 auto; height: 100%; position: relative; overflow: hidden; }

#view .side-list { width: 280px; height: 100%; background-color: #000; float: right; overflow: hidden; box-sizing: border-box; padding: 30px 0; }

#view .side-list .list { overflow: auto; overflow-x: hidden; margin-top: 30px; height: 100%; color: #FFF; }

#view .side-list .list > ul > li { padding: 30px 0; margin: 0 30px; overflow: hidden; border-top: 1px #3a3a3a solid; }

#view .side-list .list > ul > li:first-child { border-top: 0 none; }

#view .side-list .list .thumbnail { overflow: hidden; width: 220px; height: 113px; background-color: #AAA; position: relative; }

#view .side-list .list .thumbnail .time { color: #fff; display: inline-block; bottom: 0; position: absolute; right: 0; padding: 0 10px; background-color: #000; opacity: 0.8; font-size: 12px; text-align: center; line-height: 25px; padding-left: 30px; background-image: url("/resources/img/icon/i-pin.png"); background-repeat: no-repeat; background-position: 10px center; }

#view .side-list .list .descript { margin-top: 10px; }

#view .side-list .list .descript li { color: #FFF; height: auto; display: inline-block; padding: 5px 0; font-size: 14px; line-height: 140%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

#view .side-list .list .descript li:after { content: '/'; color: #AAA; font-size: 10px; padding: 0 5px; }

#view .side-list .list .descript li:last-child:after { content: ''; }

#view .side-list .screen-search { padding: 0 30px; }

#view .side-list .screen-search input[type="text"] { background-color: transparent; height: 45px; width: 100%; font-size: 16px; border-bottom: solid 2px #4a90e2; box-sizing: border-box; padding: 5px 0 10px 40px; color: #4a90e2; background-image: url("/resources/img/icon/i-screen-search.png"); background-repeat: no-repeat; background-position: 0 center; font-weight: 100; }

#view .side-list .screen-search input[type="text"]::placeholder { color: #FFF; }

#view .video-container { margin-right: 300px; margin-top: 20px; }

#view .video-container .player { width: 1076px; height: 605px; background-color: #d8d8d8; position: relative; }

#view .video-container .player .controller { position: absolute; bottom: 0; left: 0; right: 0; height: 97px; opacity: 0.5; z-index: 999; background-image: linear-gradient(to bottom, rgba(3, 11, 17, 0), rgba(6, 21, 35, 0.06), #002970); }

#view .video-container .player .controll { position: absolute; bottom: 0; left: 0; right: 0; height: 40px; padding: 12px; }

#view .video-container .player .controll img { height: 16px; }

#view .video-container .player .controll .left { float: left; }

#view .video-container .player .controll .right { float: right; }

#view .video-container .player .controll .left > div, #view .video-container .player .controll .right > div { display: inline-block; vertical-align: middle; margin: 0 5px; }

#view .video-container .player .controll .speed + div { display: inline-block; vertical-align: middle; }

#view .video-container .player .controll .volunm-bar { display: inline-block; vertical-align: middle; margin-left: 5px; width: 67px; height: 7px; border-radius: 3.5px; border: solid 1px rgba(0, 0, 0, 0.12); background-color: #d8d8d8; position: relative; }

#view .video-container .player .controll .volunm-bar .circle { width: 15px; height: 15px; background-color: #4a90e2; position: absolute; top: -5px; left: 0; border-radius: 50%; display: inline-block; }

#view .video-container .player .controll .time { padding: 0 10px; }

#view .video-container .player .controll .time span { display: inline-block; vertical-align: middle; font-size: 11px; color: #fff; text-shadow: 0 0 1px rgba(0, 0, 0, 0.54); line-height: 1.1; }

#view .video-container .player .controll .time .cur:after { content: " / "; }

#view .video-container .subject { color: #FFF; font-size: 24px; padding: 20px 0; border-bottom: 1px #444444 solid; }

#view .video-container .edit { float: right; margin-top: 5px; }

#view .video-container button { width: 20px; height: 20px; border: 0 none; background-color: transparent; background-repeat: no-repeat; background-position: 50% 50%; vertical-align: middle; }

#view .video-container button.del { background-image: url("/resources/img/icon/i-del.png"); }

#view .video-container button.modify { background-image: url("/resources/img/icon/i-modify.png"); }

#view .information { font-size: 20px; margin-top: 30px; }

#view .information li { display: inline-block; color: #9B9B9B; }

#view .information li a { display: block; padding: 10px 20px; }

#view .information li.on { color: #4a90e2; }

#view .information li.on a { border-bottom: 2px #4a90e2 solid; }

#view .tab-info .section { display: none; font-size: 0; background-color: #353535; margin-top: 20px; border-radius: 10px; padding: 10px; box-sizing: border-box; position: relative; width: 100%; }

#view .tab-info .section.on { display: table; }

#view .tab-info .section > div { border-left: 1px #4a4a4a solid; display: table-cell; width: 33.333333%; height: 100%; box-sizing: border-box; vertical-align: top; padding: 10px 20px; position: relative; }

#view .tab-info .section > div:first-child { border-left: none; }

#view .tab-info .section > div strong { color: #FFF; }

#view .tab-info .section > div li { line-height: 40px; min-height: 40px; display: block; font-size: 16px; }

#view .tab-info .section > div li strong { display: inline-block; min-width: 100px; color: inherit; }

#view .tab-info .section > div li span { color: #FFF; font-weight: bold; margin-left: 20px; }

#view .tab-info .section > div li:before { content: ""; width: 5px; height: 5px; display: inline-block; background-color: #fff; vertical-align: middle; border-radius: 50%; margin-right: 10px; }
