@charset "UTF-8";

body {
	background-color: #2b2b2b;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance:textfield; /* Firefox */
}

form {
	height: 100%;
}

.mv-hide {
	visibility2: hidden;
	z-indeX2: -1;
	
	display: none !important;
}

/* ----------------------------------------------------------------- */

.thumbnail-image {
	width: 220px;
	height: 113px;
	
	background-color: black;
	
	position: relative;
	text-align: center;
}

.thumbnail-image img {
	max-width: 100%;
	max-height: 100%;
	
	width2: 100%;
	height2: 100%;
}

/* ----------------------------------------------------------------- */

#upload .upload-title {
	z-index: 1;
}

/* ----------------------------------------------------------------- */

div[mv-name="video-area"] {
	width: 100%;
	padding: 70px 0 0 0;
}

div[mv-name="video-area"]>div {
	width: 100%;
	vertical-align: middle;
}

/* ----------------------------------------------------------------- */

.vp-player>div {
	width: 100%;
	height: 100%;
}

.vp-player .vp-video {
	width: 100%;
	height: 100%;
}

.vp-player video {
	position: relative !important;
	z-index: 0 !important;

	width: 100% !important;
	height: 100% !important;

	display: inline-block !important;
	
	max-width: 950px;
	max-height: 950px;
}

.vp-player .vp-video img[vp-name="image"] {

	width: auto !important;
	height: auto !important;

	display: inline-block !important;
	
	max-width: 950px;
	max-height: 950px;
	
}

/* ----------------------------------------------------------------- */

#upload .upload.dragover {
	background: #181818;
}
