@charset "UTF-8";

.vprog-flybox * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.vprog-flybox {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);

	display2: none;
	
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	
	font-size: 16px !important;

	overflow: auto;
	background-color: rgba(0,0,0,.46);	
}

.vprog-flybox>ul {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	display: flexbox;
	display: box;

	-webkit-align-items: center;
	align-items: center;

	width: 100%;
	height: 100%;

	text-align: center;
}

.vprog-flybox>ul>li {
	display: inline-block;
	position: relative;
	width: 100%;
}

.vprog-flybox .vprog-window {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	display: inline-block;
	height: 100%;
	background: #313131;
	color: #fff;
	padding: 20px;

	-webkit-border-radius: 4px;
	border-radius: 4px;

	-webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
	-moz-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}


/* ------------------------------------------------------------------------------- */
/* Loader */
/* ------------------------------------------------------------------------------- */

.vprog-flybox .loader {
	border2: 16px solid #f3f3f3;
	border: 5px solid transparent;
	border-radius: 50%;
	border-top: 5px solid #3498db;
	width: 60px;
	height: 60px;

	-webkit-animation: vprog-spin 2s linear infinite; /* Safari */
	animation: vprog-spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes vprog-spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes vprog-spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* ------------------------------------------------------------------------------- */
/* Progress Bar */
/* ------------------------------------------------------------------------------- */

.vprog-flybox .progress {
	width: 100%;
	height: 30px;
	background: #484848;
}

.vprog-flybox .progress .bar {
	width: 20%;
	height: 100%;
	background: #2196F3;
}

/* ------------------------------------------------------------------------------- */
/* Layout */
/* ------------------------------------------------------------------------------- */

.vprog-flybox .fullwide { width: 100%; }
.vprog-flybox .pad10 { padding: 10px; }

/* ------------------------------------------------------------------------------- */
/* Flex */
/* ------------------------------------------------------------------------------- */

ul.vprog-horiz {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	display: flexbox;
	display: box;
}

ul.vprog-vert {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	display: flexbox;
	display: box;

	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

ul.vprog-center {
	-webkit-align-items: center;
	align-items: center;
}

ul.vprog-horiz>li, ul.vprog-vert>li {
	-webkit-flex: 0 0 auto;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;

	display: inline-block;
}

ul.vprog-horiz>li.auto, ul.vprog-vert>li.auto {
	-webkit-flex: 1 1 auto;
	-moz-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;

	display: inline-block;
}


/* ------------------------------------------------------------------------------- */
/* Text */
/* ------------------------------------------------------------------------------- */

.vprog-flybox .text {
	font-family: "맑은 고딕", Dotum;
}

.vprog-flybox .vprog-horiz .text {
	margin-left: 20px;
}

.vprog-flybox .vprog-vert .text {
	min-width: 300px;
	margin-top: 20px;
}


/* ------------------------------------------------------------------------------- */
/* Server saving window */
/* ------------------------------------------------------------------------------- */

#vprog-upload {
	display: none;
}

#vprog-upload[vprog-topic="ready"] .vprog-proc { display: none; }
#vprog-upload[vprog-topic="proc"] .vprog-ready { display: none; }
